
<div class="max-w-md mx-auto mt-8 p-6 bg-white shadow-md rounded-md">
  <h2 class="text-2xl font-semibold mb-4">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 font-bold mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full rounded-md border border-gray-300 py-2 px-3" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-gray-700 font-bold mb-2" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "w-full rounded-md border border-gray-300 py-2 px-3" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-4">
        <%= f.check_box :remember_me, class: "mr-2" %>
        <%= f.label :remember_me, class: "text-gray-700 font-bold" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= f.submit "Log in", class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>

