<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl m-5">Orders</h1>
  </div>

  <div>
    <table class="text-left mx-5">
      <thead>
        <tr class="bg-green-200">
          <th class="p-2">Order ID:</th>
          <th class="p-2">Customer Email:</th>
          <th class="p-2">Status:</th>
          <th class="p-2">Total:</th>
          <th class="p-2">Date Created:</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-red-200">
          <td class="p-2"></td>
          <td class="p-2 font-bold">Paid Orders</td>
          <td class="p-2"></td>
          <td class="p-2"></td>
          <td class="p-2"></td>
        </tr>
        <% @orders.each do |order| %>
        <tr class="even:bg-blue-100 hover:bg-gray-200">
          <td class="p-2"><%= link_to order.id, order_path(order) %></td>
          <td class="p-2"><%= link_to order.user.email, order_path(order) %></td>
          <td class="p-2"><%= link_to order.status.name, order_path(order) %></td>
          <td class="p-2"><%= link_to number_to_currency(order.total), order_path(order) %></td>
          <td class="p-2"><%= link_to order.created_at, order_path(order) %></td>
        </tr>
        <% end %>
        <tr class="bg-red-200">
          <td class="p-2"></td>
          <td class="p-2 font-bold">New Orders</td>
          <td class="p-2"></td>
          <td class="p-2"></td>
          <td class="p-2"></td>
        </tr>
        <% @new_orders.each do |order| %>
        <tr class="even:bg-blue-100 hover:bg-gray-200">
          <td class="p-2"><%= link_to order.id, order_path(order) %></td>
          <td class="p-2"><%= link_to order.user.email, order_path(order) %></td>
          <td class="p-2"><%= link_to order.status.name, order_path(order) %></td>
          <td class="p-2"><%= link_to order.total, order_path(order) %></td>
          <td class="p-2"><%= link_to order.created_at, order_path(order) %></td>
        </tr>
        <% end %>
        <tr class="bg-red-200">
          <td class="p-2"></td>
          <td class="p-2 font-bold">Shipped Orders</td>
          <td class="p-2"></td>
          <td class="p-2"></td>
          <td class="p-2"></td>
        </tr>
        <% @old_orders.each do |order| %>
        <tr class="even:bg-blue-100 hover:bg-gray-200">
          <td class="p-2"><%= link_to order.id, order_path(order) %></td>
          <td class="p-2"><%= link_to order.user.email, order_path(order) %></td>
          <td class="p-2"><%= link_to order.status.name, order_path(order) %></td>
          <td class="p-2"><%= link_to order.total, order_path(order) %></td>
          <td class="p-2"><%= link_to order.created_at, order_path(order) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
