<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto mt-3">

    <div>
      <table class="text-left">
        <thead>
          <tr class="bg-green-200">
            <th class="p-2">Product Name:</th>
            <th class="p-2">Customer Email:</th>
            <th class="p-2">Quantity:</th>
            <th class="p-2">Base Cost:</th>
            <th class="p-2">Tax Paid:</th>
          </tr>
        </thead>
        <tbody>
          <% @order.sales.each do |sale| %>
          <tr class="even:bg-blue-100 hover:bg-gray-200">
            <td class="p-2"><%= link_to sale.product.name, sale_path(sale) %></td>
            <td class="p-2"><%= link_to sale.order.user.email, sale_path(sale) %></td>
            <td class="p-2"><%= link_to sale.quantity, sale_path(sale) %></td>
            <td class="p-2"><%= link_to number_to_currency(sale.cost), sale_path(sale) %></td>
            <td class="p-2"><%= link_to number_to_currency(sale.tax), sale_path(sale) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>


    <%= render @order %>

    <%= link_to "Edit this order", edit_order_path(@order), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this order", order_path(@order), method: :delete, data: { "turbo_method": :delete, "turbo-confirm": "Are you sure you want to delete this?" }, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to orders", orders_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
