<div class="w-full m-5">
  <div class="flex justify-between items-center">
    <%= form_tag(products_path, method: "get") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search by product name" %>
      <%= select_tag :category, options_for_select(@categories.map { |c| [c.name, c.id] }, params[:category]), prompt: "Select category", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      <%= submit_tag "Search", name: nil, class: "rounded-lg mr-10 py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>

    <h1 class="font-bold text-4xl">Products</h1>
    <% if admin_signed_in? %>
      <%= link_to "New product", new_product_path, class: "rounded-lg mr-10 py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
  </div>

  <div>
    <table class="text-left">
      <thead>
        <tr class="bg-green-200">
          <th class="p-2"></th>
          <th class="p-2">Name:</th>
          <th class="p-2">Price:</th>
          <th class="p-2">Category:</th>
          <th class="p-2">Description:</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr class="even:bg-blue-100 hover:bg-gray-200">
          <td class="p-2 h-24 w-24 shrink-0"><%= product.images.any? ? image_tag(product.images.first.variant(:thumb), alt: product.name) : 'Missing image!' %></td>
          <td class="p-2"><%= link_to product.name, product_path(product) %></td>
          <td class="p-2">$<%= link_to product.price, product_path(product) %></td>
          <td class="p-2"><%= link_to product.category.name, product_path(product) %></td>
          <td class="p-2">
            <% if product.description.length > 200 %>
              <%= link_to product.description[0,200], product_path(product) %>...
            <% else %>
              <%= link_to product.description, product_path(product) %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
      <div class="rounded-lg mr-10 my-3 py-3 px-5 bg-gray-700 text-white block font-medium">
        <%= paginate @products %>
      </div>
    </table>
  </div>
</div>
