<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <div class="flex flex-row">
      <% if @product.images.any? %>
        <% @product.images.each do |image| %>
          <%= image_tag(image) %>
        <% end %>
      <% else %>
        <p class="text-lg">Missing images!</p>
      <% end %>
    </div>
    

    <%= render @product %>

    <% if admin_signed_in? %>
      <%= link_to "Edit this product", edit_product_path(@product), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this product", product_path(@product), method: :delete, data: { "turbo_method": :delete, "turbo-confirm": "Are you sure you want to delete this?" }, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
    <% end %>

    
    <%= link_to "Back to products", products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
