<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <div class="flex flex-row">
      <% if @product.images.any? %>
        <% @product.images.each do |image| %>
          <%= image_tag(image, alt: @product.name) %>
        <% end %>
      <% else %>
        <p class="text-lg">Missing images!</p>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="mt-2 rounded-lg py-3 px-5 bg-green-200 inline-block font-large shadow-xl">
        <%= form_with(url: add_to_cart_path, method: :post) do |form| %>
          <%= form.hidden_field :product_id, value: @product.id %>
          <div class="my-3 flex flex-row items-center">
            <%= form.label :quantity %>
            <%= form.number_field :quantity, value: 1, min: 1, step: 1, class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 ml-2 w-20" %>
            <div class="mt-2 shadow-xl border border-gray-400 rounded-lg py-3 px-5 bg-blue-200 inline-block font-large ml-4 w-full hover:bg-blue-300">
              <%= form.submit 'Add to Cart' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
      
    <%= render @product %>

    <% if admin_signed_in? %>
      <%= link_to "Edit this product", edit_product_path(@product), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy this product", product_path(@product), method: :delete, data: { "turbo_method": :delete, "turbo-confirm": "Are you sure you want to delete this?" }, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
    <% end %>

    
    <%= link_to "Back to products", products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
