<div id="<%= dom_id sale %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= sale.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cost:</strong>
    <%= sale.cost %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Tax:</strong>
    <%= sale.tax %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= sale.product.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Order:</strong>
    <%= sale.order_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= sale.order.user.email %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this sale", sale, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
