<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl m-5">Sales</h1>
  </div>
  
  <div>
    <table class="text-left mx-5">
      <thead>
        <tr class="bg-green-200">
          <th class="p-2">Product Name:</th>
          <th class="p-2">Customer Email:</th>
          <th class="p-2">Quantity:</th>
          <th class="p-2">Base Cost:</th>
          <th class="p-2">Tax Paid:</th>
        </tr>
      </thead>
      <tbody>
        <% @sales.each do |sale| %>
        <tr class="even:bg-blue-100 hover:bg-gray-200">
          <td class="p-2"><%= link_to sale.product.name, sale_path(sale) %></td>
          <td class="p-2"><%= link_to sale.order.user.email, sale_path(sale) %></td>
          <td class="p-2"><%= link_to sale.quantity, sale_path(sale) %></td>
          <td class="p-2"><%= link_to number_to_currency(sale.cost), sale_path(sale) %></td>
          <td class="p-2"><%= link_to number_to_currency(sale.tax), sale_path(sale) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
