<nav class="flex flex-col w-full sticky">
  <div class="h-40 p-4 top-0 bg-gradient-to-b from-purple-600 to-gray-500">
      <div class="flex pl-6">
          <%= link_to root_path, class: "text-4xl py-2 text-white font-bold hidden md:block" do %>
              <span class="md:inline-block">Crazy Computers</span>
          <% end %>
      </div>
      <ul class="flex flex-row text-white pl-6 justify-end">
          <% if admin_signed_in? %>
              <li class="shadow border rounded mr-4">
                  <%= link_to root_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'home', class: 'mr-1') %> <span class="md:inline-block">Home</span>
                  <% end %>
              </li>
              <li class="shadow border rounded mr-4">
                  <%= link_to products_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'laptop', class: 'mr-1') %> <span class="hidden md:inline-block">Products</span>
                  <% end %>
              </li>
              <li class="shadow border rounded mr-4">
                  <%= link_to categories_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'folder-open', class: 'mr-1') %> <span class="hidden md:inline-block">Categories</span>
                  <% end %>
              </li>
              <li class="shadow border rounded mr-4">
                  <%= link_to orders_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'shopping-bag', class: 'mr-1') %> <span class="hidden md:inline-block">Orders</span>
                  <% end %>
              </li>
              <li class="shadow border rounded mr-4">
                <%= link_to sales_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                    <%= icon('fa-solid', 'tags', class: 'mr-1') %> <span class="hidden md:inline-block">Sales</span>
                <% end %>
              </li>
              <li class="shadow border rounded mr-4">
                  <%= link_to provinces_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'university', class: 'mr-1') %> <span class="hidden md:inline-block">Sales Tax</span>
                  <% end %>
              </li>
              <li class="shadow border rounded mr-4">
                  <%= link_to statuses_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'info-circle', class: 'mr-1') %> <span class="hidden md:inline-block">Statuses</span>
                  <% end %>
              </li>
              <li class="shadow border rounded mr-4">
                  <%= link_to destroy_admin_session_path, method: :delete, data: { "turbo_method": :delete, "turbo-confirm": "Are you sure you want to sign out?" }, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'ban', class: 'mr-1') %> <span class="hidden md:inline-block">Sign Out</span>
                  <% end %>
              </li>
          <% elsif user_signed_in? %>
              <li class="shadow border rounded mr-4">
                  <%= link_to root_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'home', class: 'mr-1') %> <span class="hidden md:inline-block">Home</span>
                  <% end %>
              </li>
              <li class="shadow border rounded mr-4">
                  <%= link_to products_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'laptop', class: 'mr-1') %> <span class="hidden md:inline-block">Products</span>
                  <% end %>
              </li>
              <li class="shadow border rounded mr-4">
                  <%= link_to categories_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'folder-open', class: 'mr-1') %> <span class="hidden md:inline-block">Categories</span>
                  <% end %>
              </li>
              <li class="shadow border rounded mr-4">
                <%= link_to edit_user_registration_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                    <%= icon('fa-solid', 'user-circle', class: 'mr-1') %> <span class="hidden md:inline-block">Account</span>
                <% end %>
            </li>
              <li class="shadow border rounded mr-4">
                  <%= link_to destroy_user_session_path, method: :delete, data: { "turbo_method": :delete, "turbo-confirm": "Are you sure you want to sign out?" }, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'ban', class: 'mr-1') %> <span class="hidden md:inline-block">Sign Out</span>
                  <% end %>
              </li>
          <% else %>
              <li class="shadow border rounded mr-4">
                  <%= link_to new_user_registration_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'user-plus', class: 'mr-1') %> <span class="hidden md:inline-block">Sign Up</span>
                  <% end %>
              </li>
              <li class="shadow border rounded mr-4">
                  <%= link_to new_user_session_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'user-circle', class: 'mr-1') %> <span class="hidden md:inline-block">Sign In</span>
                  <% end %>
              </li>
              <li class="shadow border rounded mr-4">
                  <%= link_to new_admin_session_path, class: "block px-4 py-2 hover:rounded hover:bg-purple-800" do %>
                      <%= icon('fa-solid', 'vcard', class: 'mr-1') %> <span class="hidden md:inline-block">Admin Sign In</span>
                  <% end %>
              </li>
          <% end %>
      </ul>
  </div>
  <div class="h-1 bg-gray-800 sticky top-0"></div>
</nav>